<div id="summaryModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Order Summary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Total Count: <strong>{{ order.totalCount }} item(s)</strong></p>
        <p>Total Amount: <strong>{{ order.totalAmount | currency:'₱ ':"symbol" }}</strong></p>
        <p>Payment method: <strong>{{ order.paymentMethod }}</strong></p>

        <div class="form-group">
          <label>Amount Paid:</label>
          <input [(ngModel)]="order.paidAmount" class="form-control" type="number" (keyup)="computeChange()" />
        </div>
        <p>Change: <span [class.valid-change]="isChangeValid()" [class.invalid-change]="!isChangeValid()">{{ order.changeAmount | currency:'₱ ':"symbol" }}</span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="!isChangeValid()">Submit</button>
      </div>
    </div>
  </div>
</div>