<h4>Manage Products</h4>
<br />
<alert-box [modal]="modal"></alert-box>
<table class="table">
  <thead>
    <tr>
        <th>CODE</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>STOCK QTY</th>
        <th>PRICE</th>
        <th>EXPIRY</th>
        <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products" [class.expired]="isExpired(product.expiration)">
      <td>{{ product.code }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.stockQty }}</td>
      <td>{{ product.price | currency:'₱ ' }}</td>
      <td>{{ product.expiration | date }}</td>
      <td>
        <div>
            <admin-edit-product [model]="product" (onEditEmitter)="getProducts()"></admin-edit-product>
            <button (click)="onDeleteProduct(product)" class="fas fa-trash-alt"></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<admin-add-product (onAddEmitter)="addProduct($event)" [hidden]="!isLoaded"></admin-add-product>
<css-loader [hidden]="isLoaded"></css-loader>