<admin-add-product (onAddEmitter)="addProduct($event)"></admin-add-product>

<table class="table">
  <thead>
    <tr>
        <th>CODE</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>STOCK QTY</th>
        <th>PRICE</th>
        <th>ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.code }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.stockQty }}</td>
      <td>{{ product.price }}</td>
      <td>
        <div>
            <admin-edit-product [model]="product" (onEditEmitter)="getProducts()"></admin-edit-product>
            <button (click)="deleteProduct(product)">Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>