<h4>Shopping Cart</h4>
<br />
<table class="table">
  <thead>
    <tr>
      <th scope="col">PRODUCT</th>
      <th scope="col">UNIT PRICE</th>
      <th scope="col">QUANTITY</th>
      <th scope="col">SUB TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of getGroupedItems()">
      <ng-container *ngIf="item.subQuantity > 0">
          <td scope="row">{{ item.subName }}</td>
          <td>{{ item.subPrice | currency:'₱ ' }}</td>
          <td>
            <span class="fas fa-minus-square" (click)="deductQuantity(item)"></span>
            {{ item.subQuantity }}
            <span class="fas fa-plus-square" (click)="addQuantity(item)"></span>
          </td>
          <td>{{ item.subTotalPrice | currency:'₱ ' }}</td>
      </ng-container>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan="2">TOTAL</th>
      <th>{{ cart.totalItems }}</th>
      <th>{{ cart.totalPrice | currency:'₱ ' }}</th>
    </tr>
  </tfoot>
</table>

<div class="row">
  <alert-box [modal]="modal"></alert-box>
  <order-summary (onSubmitEmitter)="checkOut($event)" ></order-summary>
  <div class="col-6 clear-container">
      <button #btnClear
        id="btnClear"
        class="btn btn-danger cart-button" 
        (click)="clearCart()" 
        [disabled]="!hasCartItems()">
          CLEAR CART
      </button>
  </div>
  <div class="col-6 checkout-container">
      <button #btnCheckOut
        id="btnCheckOut"
        class="btn btn-primary cart-button" 
        (click)="showOrderSummary()" 
        [disabled]="!hasCartItems()">
          CHECK OUT
      </button>
  </div>
</div>