<table class="table">
  <thead>
    <tr>
      <th scope="col">PRODUCT</th>
      <th scope="col">UNIT PRICE</th>
      <th scope="col">QUANTITY</th>
      <th scope="col">SUB TOTAL</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of getGroupedItems()">
      <ng-container *ngIf="item.subQuantity > 0">
          <td scope="row">{{ item.subName }}</td>
          <td>{{ item.subPrice }}</td>
          <td>
            <span class="fas fa-minus-square" (click)="deductQuantity(item)"></span>
            {{ item.subQuantity }}
            <span class="fas fa-plus-square" (click)="addQuantity(item)"></span>
          </td>
          <td>{{ item.subTotalPrice }}</td>
      </ng-container>
    </tr>
  </tbody>
</table>