<div id="{{modalId}}" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ formTitle }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="isEditMode ? isEditMode : form.reset()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onBtnPrimaryClick()">
          <input hidden formControlName="id">
          <div *ngIf="isEditMode" class="form-group">
            <label>Code: {{ this.model.code }}</label>
          </div>

          <div class="formgroup">
            <label>Name:</label>
            <input class="form-control" formControlName="name" placeholder="Product 1" type="text" />
            <div *ngIf="name?.invalid && name.touched" class=" alert alert-danger">
              <div *ngIf="name.errors.required">
                Name is required
              </div>
              <div *ngIf="name.errors.minlength">
                Name should be minimum {{ name.errors.minlength.requiredLength }} characters
              </div>
              <div *ngIf="name.errors.maxlength">
                Name should be maximum {{ name.errors.maxlength.requiredLength }} characters
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Description</label>
            <input class="form-control" formControlName="description" placeholder="Description 1" type="text" />
            <div *ngIf="description?.invalid && description.touched" class="alert alert-danger">
              <div *ngIf="description.errors.required">
                Description is required
              </div>
              <div *ngIf="description.errors.minlength">
                Description should be minimum {{ description.errors.minlength.requiredLength }} characters
              </div>
              <div *ngIf="description.errors.maxlength">
                Description should be maximum {{ description.errors.maxlength.requiredLength }} characters
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Price</label>
            <input class="form-control" formControlName="price" placeholder="1.50" type="number" />
            <div *ngIf="price?.invalid && price.touched" class="alert alert-danger">
              <div *ngIf="price.errors.required">
                Price is required
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Stock Qty</label>
            <input class="form-control" formControlName="stockQty" placeholder="10" type="number" />
            <div *ngIf="stockQty?.invalid && stockQty.touched" class="alert alert-danger">
              <div *ngIf="stockQty.errors.required">
                Stock Qty is required
              </div>
              <div *ngIf="stockQty.errors.pattern">
                Stock Qty should be a whole number
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Unit of Measure</label>
            <input class="form-control" formControlName="uom" placeholder="PC" type="text" />
            <div *ngIf="uom?.invalid && uom.touched" class="alert alert-danger">
              <div *ngIf="uom.errors.required">
                Unit of Measure is required
              </div>
              <div *ngIf="uom.errors.minlength">
                Unit of Measure should be minimum {{ uom.errors.minlength.requiredLength }} characters
              </div>
              <div *ngIf="uom.errors.maxlength">
                Unit of Measure should be maximum {{ uom.errors.maxlength.requiredLength }} characters
              </div>
              <div *ngIf="uom.errors.pattern">
                Unit of Measure should have letters only
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Expiration Date</label>
            <input class="form-control" formControlName="expiration" type="date" />
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="isEditMode ? isEditMode : form.reset()">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">{{ btnPrimaryLabel }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>